<h1 class='title'>Good morning, <%= @user.name %>!</h1>
<% @newsletter.each do |topic| %>
  <div class='card'>
    <header class='card-header'>
      <h2 class='card-header-title'><%= topic[0] %></p>
    </header>
    <div class='card-content'>
      <% if topic[1].size == 0 %>
        <p>No breaking news in this topic today!</p>
      <% else %>
        <% topic[1].each do |article| %>
        <h3> <a href="<%=article.url%>"><%= article.headline %></a> </h3>
        <p>
          <% article.body.split("\n").map do |sentence| %>
            <% if sentence != "" && sentence.upcase != sentence %>
            <li>
              <%= sentence %>
            </li>
            <% end %>
          <% end%>
          <a href="https://twitter.com/intent/tweet?text=<%=article.headline.split(" ").join("%20")%>&url=<%=article.url%>">Tweet</a>
        </p>
      <% end %>
    </div>
    <% end %>
  </div>
<% end %>
